<html>
    <head>
        <title>the first template</title>
    </head>
    <body>
        <p>Hello jikexueyuan!</p>
        <p>hi <%= name %></p>
        <p>id: <%= id %></p>
        <input id="new-temp-val" type="text" />
        <div id="new-temp"></div>
    </body>
    <script type="text/javascript" src="/ejs.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>
    <!-- <script type="text/javascript">
        var tmpl = '<p>template</p>';
        var newTempDiv = document.getElementById('new-temp');
        
        setTimeout(function () {
            newTempDiv.innerHTML = ejs.render(tmpl);
        },2000);
    </script> -->
</html>